<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tree</title>
</head>
<body>
<h1>Tree</h1>
<form action="/result" method="post">
        <label for="train_size">Количество строк для обучения:</label>
        <input type="number" name="train_size" required>
        <br>
        <label for="test_size">Количество строк для проверки:</label>
        <input type="number" name="test_size" required>
        <br>
        <input type="submit" value="Сформировать">
    </form>
    <p>{{ result_tree | safe }}</p>
    <br>
    {% for result in results %}
        <p>{{ result }}</p>
    {% endfor %}
    <br>
</body>
</html>